@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
    /* background: url('/images/multiple.png'), #140D27 -155.25px -155px / 114.411% 118.9% no-repeat; */
    background: #140D27;
    /* background: #150E28; */
    background-blend-mode: hard-light;
    height: auto;
    font-family: Montserrat;
}